
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: var(--default);
  font-size: 100%;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}