@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
    /* #region ========== FONTS */
        --default: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        --pixel: 'DotGothic16', sans-serif;
    /* #endregion ======= FONTS END */

    /* #region ========== WARNA */
        --primary: #525CEB;
        --white: #fbfbfb;      
        --black: #181818;
        --black-soft: #3D3B40;
        --grey: #676767;
        --border: #e1e1e1;
    /* #endregion ======= WARNA END*/

    /* #region ========== MIX */
        --anim: .25s ease;
    /* #endregion ======= MIX END*/
}