<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andwar</title>
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
    <!-- CrumbsUI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Andwar22/CrumbsUI/dist/1.0.1/crumbs-ui.css">
</head>
<body>
    <main>
      <div class="choose-path">
        <p>Mau ngapain hari ini?</p>
        <div class="wrap-item-path">
          <div class="item-path">
            <a href="/layout/work-space.html">
              KERJO
            </a>
          </div>
          <div class="item-path">
            <a href="">
              DODOLAN
            </a>
          </div>
          <div class="item-path">
            <a href="">
              DULINAN
            </a>
          </div>
        </div>
      </div>
    </main>

    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Andwar22/CrumbsUI/dist/1.0.1/crumbs-ui.js"></script>
</body>
</html>